.flash-box
.wrapper
  .chat-side
    = render "groups/side_ber" 
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
        = @group.name
        %ul.main-header__left-box__member-list
          Member：
          - @group.users.each do |user|
            %li.main-header__left-box__member-list__member
            = user.name
      = link_to edit_group_path(@group.id) do
        .main-header__edit-btn Edit
    .messages
      = render partial: 'messages/message', collection: @messages
      .btn-top ▲
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :message, class: 'message_content input-box__text', placeholder: "type a message"
          = f.label :image, class: 'message_image input-box__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'message_image input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
